@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');

/*
font-family: 'Merriweather', serif;
*/

/* Margin and padding set to 0 */
*
{
    margin: 0;
    padding: 0;
}

/*Header CSS*/
header
{
    display: flex;
    flex-direction: row;
    height: 10vh;
    background-color: #922c40;
}

/*Header navbar CSS*/
header nav
{
    display: inline-flex;
    align-items: center;
    flex-direction: row;
}

/*Hotel Logo CSS*/
header nav img
{
    width: 8vh;
    padding: 0 1vh;
}

/*Navbar items CSS (Home, About, Contact Us, etc..)*/
header nav ul li
{
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 0 10px;
    font-family: 'Merriweather', serif;
}

/*While hover on Navbar Items CSS*/
header nav ul li:hover
{
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    color:#ffcf6e;
    padding: 0 10px;
    font-family: 'Merriweather', serif;
}

/*Navbar items anchor tag CSS*/
header nav ul a
{
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 0 10px;
    font-family: 'Merriweather', serif;
}

/* Searchbar CSS */
#searchbar
{
    padding: 0 0 0 50px;  
}

/* Searchbar input area CSS */
#searchbar input
{
    border-radius: 5px;
    width: 576px;
    height: 3vh;
    padding: 0 0 0 12px;
}

/* Search button CSS */
#search-button
{
    padding: 0 0 0 12px;
}

#search-button button
{
    width: 50px;
    height: 3.4vh;
    border-radius: 5px;
    background-color: #ffcf6e;
    font-family: 'Merriweather', serif;
}

/* While hovering Search button CSS */
#search-button button:hover
{
    width: 50px;
    height: 3.4vh;
    border-radius: 5px;
    background-color: #ffda6e;
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

body
{
    background-color: #f3f3f3;
}

main
{
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
}

.main-container
{
    width: 70vw;
    height: 800px;
    background-color: white;
    margin-top: 30px;
}

.main-container h1
{
    font-family: 'Merriweather', serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.main-container hr
{
    margin: 0 200px;
    height: 1px;
    background-color: #ffcf6e;
}

.name
{
    font-family: 'Merriweather', serif;
    margin: 50px 0 0 50px;
    font-size: 20px;
    font-weight: 500;
}

.name input
{
    margin-left: 20px;
    padding: 0 12px;
    height: 25px;
    width: 925px;
    font-family: 'Merriweather', serif;
}

.email
{
    font-family: 'Merriweather', serif;
    margin: 50px 0 0 50px;
    font-size: 20px;
    font-weight: 500;
}

.email input
{
    margin-left: 24px;
    padding: 0 12px;
    height: 25px;
    width: 936px;
    font-family: 'Merriweather', serif;
}

.concern
{
    font-family: 'Merriweather', serif;
    margin: 50px 0 0 50px;
    font-size: 20px;
    font-weight: 500;
}

textarea
{
    margin-top: 25px;
    width: 1080px;
    height: 300px;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 50px;
}

.button-space
{
    display: flex;
    justify-content: right;
    background-color: #f3f3f3;
}

.button-space button
{
    width: 100px;
    height: 40px;
    background-color: #922c40;
    color: white;
    font-family: 'Merriweather', serif;
    border-radius: 5px;
    margin-top: 30px;
    margin-right: 30px;
}

.button-space button:hover
{
    width: 100px;
    height: 40px;
    background-color: #922c40;
    color: #ffcf6e;
    font-weight: 550;
    font-family: 'Merriweather', serif;
    border-radius: 5px;
    margin-top: 30px;
}

.success
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7df381;
    font-family: 'Merriweather', serif;
    border-radius: 5px;
    text-align: center;
    width: 70vw;
    height: 40px;
    margin-left: 280px;
    margin-top: 30px;
}

/*Footer CSS*/
footer
{
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100vw;
    height: 25vh;
    background-color: #922c40;
    color: white;
    margin-top: 50px;
    padding-top: 10px;
}

.foot .menu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.foot .menu ul li
{
    padding: 9px 20px;
    font-size: 2vh;
    color: white;
}

.foot .menu ul a
{
    text-decoration: none;
}

.foot .social h4
{
    text-align: center;
    border-bottom: solid white;
    padding: 1vh;
}

.foot .social ul li
{
    list-style: none;
    text-decoration: none;
    padding: 9px 10px;
    font-size: 3vh;
    color: white;
    
}

.foot .social ul a
{
    text-decoration: none;
    color: white;
}

.foot .social ul
{
    display: flex;
    justify-content: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h5
{
    text-align: center;
    color: white;
    font-family: 'Merriweather', serif;
    padding-top: 10px;
}

.foot .social ul a:hover
{
    transition: 0.3s;
    color: #ffcf6e;
}

.foot .menu ul li:hover
{
    transition: 0.3s;
    color: #ffcf6e;
}
